/node_modules
/public/build
/public/hot
/public/storage
/storage/credentials
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.DS_Store
/public/.DS_Store
/public/files/
/public/images
/lib
/lib/*
/socket/node_modules
/public/.user.ini
/public/.well-known/
/.user.ini
/socket/scripts/.htaccess
/socket/scripts/.user.ini
/socket/scripts/.well-known/
/socket/scripts/404.html
/socket/scripts/502.html
/socket/scripts/index.html
